@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------------------------------------------------------ */
/* Sign up/Login page */

* {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Roboto', sans-serif;
}

.signup,
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  align-items: center;
}

@media (min-width: 320px){

  .loginbtn {
    border-radius: 10px;
    height: 2.5rem;
    width: 50%;
    background: #FAC710;
    border: none;
    font-size: 18px;
    margin: 0.5rem 0 2rem 0;
  }

  .remember-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3rem;
    align-items: center;
  }

  .text-input {
    width: 100%;
    margin-top: 1rem;
    border-radius: 10px;
    border: 1px solid black;
    height: 1.5rem;
  }

  .login-input-label {
    font-size: 110%;
  }

  .signup-link {
    text-decoration: none;
  }
 
}

@media (min-width: 768px) {
  .text-input {
    width: 60%;
  }

  .loginbtn {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .text-input {
    width: 40%;
  }

  .login-title {
    font-size: 3rem;
  }

  .login-input-label {
    font-size: 120%;
  }

  .loginbtn {
    width: 20%;
  }

}

.signup > h1,
.signup > p {
  text-align: center;
  margin: 0.2rem;
}

/* label {
  margin-bottom: 0.2rem;
} */

input[type="text"],
input[type="date"],
input[type="password"],
select
{
  padding: 0.2rem;
  margin-bottom: 1rem;
}

.signupbtn {
  padding: 0.5rem 0;
  width: 30%;
  align-self: center;
  border-radius: 2rem;
  background: #fff;
  border: 1px solid #777;
}

/* ------------------------------------------------------------ */
/* Homepage */

* {
  background: #f7f7f8;
}

#hp {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  background: #f7f7f8;

}

#hp-header {
  text-align: center;
}

.hp-signup, .hp-login {
  padding: 1rem 2rem;
  width: 4rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 5rem;
}

.hp-signup {
  margin-bottom: 1.5rem;
  background: #414bb2;
}

.hp-login {
  background: #FAC710;
}

@media (min-width: 320px) {
  #hp {
    height: 45rem;
  }
}

/* ------------------------------------------------------------ */
/* Events */

.event {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
}

/* ------------------------------------------------------------ */
/* Validation */

.clear {
  display: none;
}