.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------------------------------------------------------ */
/* Sign up page */

.signup,
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
}

.signup > h1,
.signup > p {
  text-align: center;
  margin: 0.2rem;
}

label {
  margin-bottom: 0.2rem;
}

input[type="text"],
input[type="date"],
input[type="password"],
select
{
  padding: 0.2rem;
  margin-bottom: 1rem;
}

.signupbtn {
  padding: 0.5rem 0;
  width: 30%;
  align-self: center;
  border-radius: 2rem;
  background: #fff;
  border: 1px solid #777;
}